.CardApp{
    width: 375px; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #FAFAFA; 
    padding: 0 32px; 
}

/* desktop style */
@media screen and (min-width: 1440px){
    .CardApp{
        width: 1440px; 
    }
}