.App {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  height: 100%; 
  padding-top: 50px; 

}

/* desktop style */
@media screen and (min-width: 1440px){
  .App {
    justify-content: center; 

  }
}